n8n/temp.json
{
  "name": "Auto Translate and Dub Video",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3808,
        244
      ],
      "id": "4906faa3-b147-4b7e-be2f-c74bc9dc4916",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "84128e18-f53d-4a0e-99d5-99a604c749eb",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3360,
        244
      ],
      "id": "33d9ad85-4891-44db-ab04-31aae1bb05f5",
      "name": "If Cookie Update Success"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "07011532-d3ba-46c1-8c26-7217b3e1bf9e",
              "leftValue": "={{ $json.status }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2912,
        244
      ],
      "id": "d25490b8-1b70-46b0-925b-71215ff261ae",
      "name": "If Got Videos"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.urls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2688,
        244
      ],
      "id": "37b32e38-95b0-439f-a87c-8026c27f3639",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2464,
        244
      ],
      "id": "746e6a7f-9964-4d25-8d91-d9a8055b4504",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{ $json[\"data.urls\"] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2240,
        -144
      ],
      "id": "10990f4f-3dfb-4c46-9b0d-23667b471aa8",
      "name": "Download Video"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ \"/home/shared/downloads/video_\" + $runIndex + \".mp4\" }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -2016,
        -144
      ],
      "id": "bca3391b-eadc-4a05-a582-f61dfc45f9b0",
      "name": "Save Video (Dynamic Name)"
    },
    {
      "parameters": {
        "url": "http://api:8000/update_cookies",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3584,
        244
      ],
      "id": "b77ade2f-b523-44d1-a114-65923978d97e",
      "name": "Update Cookies"
    },
    {
      "parameters": {
        "url": "http://api:8000/feed_user_videos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "userID",
              "value": "MS4wLjABAAAAObLqoivX9v17p8Mx6ehZ-8Jm2neeJg05i7gagKeCWtw"
            },
            {
              "name": "max_count",
              "value": "1"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3136,
        244
      ],
      "id": "b5a237a8-4d9f-44d8-a002-1968a0bfa1aa",
      "name": "Get User Video URLs"
    },
    {
      "parameters": {
        "url": "http://video_tools:9000/generate_subtitles",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ $('Save Video (Dynamic Name)').item.json.fileName.split(\"/\").last().split(\".\").first() }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1792,
        -144
      ],
      "id": "8fe08db5-07e5-4ea3-a7cd-b51b2242f144",
      "name": "Generate SRT"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Just translate for me all the below content to Vietnamese. Return exact format of the content that I  provide for you (index, timestamp, translated content) and don't add anything not related (chat, answer, apology).\n{{ $json.text_chunk }}"
      },
      "id": "9810ba01-05d4-4e2f-ac44-d7fc753d1cea",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -224,
        -144
      ],
      "typeVersion": 1.5,
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "qwen2.5:1.5b",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "9c323e06-7426-4e96-8b9e-1807be31fc0b",
      "name": "Ollama Model",
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "position": [
        -152,
        80
      ],
      "typeVersion": 1,
      "executeOnce": false,
      "credentials": {
        "ollamaApi": {
          "id": "8p0sScEdXGlTXISN",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "13c4058d-2d50-46b7-a5a6-c788828a1764",
              "name": "text",
              "type": "string",
              "value": "=There was an error."
            }
          ]
        },
        "options": {}
      },
      "id": "832cce34-252c-4f30-8862-f897194723d1",
      "name": "Error Response",
      "type": "n8n-nodes-base.set",
      "position": [
        128,
        -48
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fileSelector": "=/home/shared/srt/{{ $json.srt_path.split(\"/\").last() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -1344,
        -144
      ],
      "id": "b4087317-fcac-4290-9573-61412fa90d4f",
      "name": "Read SRT file"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1120,
        -144
      ],
      "id": "cdaa1d22-b094-4255-be3e-44e7e90daad0",
      "name": "Get SRT Content"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "final_srt_content",
        "options": {
          "encoding": "utf8",
          "fileName": "={{ \"/home/shared/srt/video_\" + $runIndex + \"_translated.srt\" }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        352,
        -240
      ],
      "id": "bd01183f-9958-4e52-b2b6-5b108dd2f89a",
      "name": "Convert Translated SRT into File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/shared/srt/{{ $binary.data.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        576,
        -240
      ],
      "id": "6ddc377a-41f5-46c3-b7de-0898ac1f0d6d",
      "name": "Write Translated SRT File"
    },
    {
      "parameters": {
        "url": "http://video_tools:9000/generate_final_video",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ \"video_\" + $runIndex }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        -16
      ],
      "id": "f973ee6f-20d9-4618-9939-8067a709da41",
      "name": "Generate Dubbed Video"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5d0c5f0f-0d70-47e9-b19d-00ab0f25d544",
              "leftValue": "={{ $json.status }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1568,
        -144
      ],
      "id": "52b2a08d-b928-4978-ab01-d24457b14e02",
      "name": "If SRT Success"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c038a8d4-3dc6-43fe-bb6f-abce16989992",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -896,
        -144
      ],
      "id": "c594092a-3485-4831-b49c-44396983fc3c",
      "name": "If SRT Content"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Nếu dữ liệu là chuỗi base64 nằm trong json như prompt của bạn:\nconst base64String = $json.data; \n\n// Convert sang text utf-8\nconst decodedText = Buffer.from(base64String, 'base64').toString('utf-8');\n\nreturn {\n  json: {\n    clean_text: decodedText\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        -144
      ],
      "id": "a6066846-cd2e-4104-be7a-ef257a236898",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Cấu hình: Số lượng block subtitle trong 1 lần gửi cho AI\n// Với model 1.5b, nên để 20-30 block là an toàn nhất.\nconst CHUNK_SIZE = 30; \n\n// Lấy nội dung text từ node trước (sửa 'clean_text' thành tên biến thực tế của bạn)\nconst srtContent = $input.first().json.clean_text;\n\nif (!srtContent) {\n  throw new Error(\"Không tìm thấy nội dung file để cắt!\");\n}\n\n// 1. Tách các block SRT dựa trên 2 dòng trống (chuẩn SRT)\n// Regex này tìm các dòng trống giữa các block\nconst blocks = srtContent.split(/\\n\\s*\\n/);\n\n// 2. Gom các block lại thành từng Chunk\nconst chunks = [];\nfor (let i = 0; i < blocks.length; i += CHUNK_SIZE) {\n  // Lấy ra 30 block và nối lại\n  const chunkText = blocks.slice(i, i + CHUNK_SIZE).join('\\n\\n');\n  \n  // Chỉ đẩy vào nếu chunk có nội dung\n  if (chunkText.trim().length > 0) {\n    chunks.push({\n      json: {\n        text_chunk: chunkText,\n        chunk_index: i / CHUNK_SIZE + 1, // Đánh số thứ tự chunk để dễ theo dõi\n        total_chunks: Math.ceil(blocks.length / CHUNK_SIZE)\n      }\n    });\n  }\n}\n\n// n8n sẽ tự động chạy node tiếp theo (Ollama) cho TỪNG item trong mảng 'chunks' này\nreturn chunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        -144
      ],
      "id": "00d857ef-f544-414b-a78c-300d102716fa",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// Lấy tất cả các kết quả từ node AI trước đó\n// Giả sử node AI trả về kết quả trong biến 'output' hoặc mặc định là 'text'\n// Bạn cần check output của node AI để sửa 'response' cho đúng key.\n\n// Sắp xếp lại theo thứ tự chunk_index (đề phòng n8n chạy không tuần tự)\nitems.sort((a, b) => a.json.chunk_index - b.json.chunk_index);\n\n// Gom toàn bộ văn bản đã dịch lại\nconst fullTranslatedSrt = items.map(item => {\n    // Nếu dùng Basic LLM Chain, kết quả thường ở 'text'\n    // Nếu dùng Ollama Chat, kết quả thường ở 'message.content' hoặc 'response'\n    // Hãy kiểm tra output node trước để thay thế dòng dưới đây:\n    return item.json.text || item.json.response || item.json.output; \n}).join('\\n\\n');\n\nreturn {\n  json: {\n    final_srt_content: fullTranslatedSrt,\n    file_name: \"vietnamese_subtitle.srt\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        128,
        -240
      ],
      "id": "59f1ef76-e02c-425a-bbd2-7235fc3e03f2",
      "name": "Code in JavaScript2"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Update Cookies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Cookie Update Success": {
      "main": [
        [
          {
            "node": "Get User Video URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Got Videos": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Save Video (Dynamic Name)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Cookies": {
      "main": [
        [
          {
            "node": "If Cookie Update Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Video URLs": {
      "main": [
        [
          {
            "node": "If Got Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Video (Dynamic Name)": {
      "main": [
        [
          {
            "node": "Generate SRT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate SRT": {
      "main": [
        [
          {
            "node": "If SRT Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Read SRT file": {
      "main": [
        [
          {
            "node": "Get SRT Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SRT Content": {
      "main": [
        [
          {
            "node": "If SRT Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Translated SRT into File": {
      "main": [
        [
          {
            "node": "Write Translated SRT File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Translated SRT File": {
      "main": [
        [
          {
            "node": "Generate Dubbed Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Dubbed Video": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If SRT Success": {
      "main": [
        [
          {
            "node": "Read SRT file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If SRT Content": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Response": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Convert Translated SRT into File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "cf38d806-4989-4fd1-8288-f27e5a54eb0d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d03e29d40ee8f6942890a57bfacec1a055bb8b3755ee9bf823d53216f83cc457"
  },
  "id": "8V5zJUqmOYpiTBo8",
  "tags": []
}