n8n/workflow.json
{
  "name": "Douyin Crawler",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -4160,
        464
      ],
      "id": "48294eed-24f2-4208-81cb-5e463544ce2f",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "84128e18-f53d-4a0e-99d5-99a604c749eb",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3712,
        464
      ],
      "id": "d8b43602-a94e-4ec2-a089-86f09b962891",
      "name": "If Cookie Update Success"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "07011532-d3ba-46c1-8c26-7217b3e1bf9e",
              "leftValue": "={{ $json.status }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3264,
        464
      ],
      "id": "1a570e20-7c58-44d9-8dfe-fb130b0733f3",
      "name": "If Got Videos"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.urls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -3040,
        464
      ],
      "id": "f2534e1d-e892-4d4f-b2f5-908ded53eec3",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2816,
        464
      ],
      "id": "412c7a76-fc3c-43b8-9364-831cd0351650",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2144,
        -176
      ],
      "id": "6d87b9b6-9625-412b-9bae-78bf4cc4badc",
      "name": "Download Video"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ \"/home/shared/downloads/\" + $binary.data.fileName + \".mp4\" }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -1920,
        -176
      ],
      "id": "9706ac0d-2c51-4a3a-8d9d-7e99a6dbc53c",
      "name": "Save Video (Dynamic Name)",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "http://api:8000/update_cookies",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3936,
        464
      ],
      "id": "0a356819-a720-4e39-8853-0646626311e9",
      "name": "Update Cookies"
    },
    {
      "parameters": {
        "url": "http://api:8000/feed_user_videos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "userID",
              "value": "MS4wLjABAAAAObLqoivX9v17p8Mx6ehZ-8Jm2neeJg05i7gagKeCWtw"
            },
            {
              "name": "max_count",
              "value": "1"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3488,
        464
      ],
      "id": "fa04da8c-9c3f-4c1d-80c7-5481054fd7bf",
      "name": "Get User Video URLs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://video_tools:9000/api/v1/subtitles",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "video_name",
              "value": "={{ $('Save Video (Dynamic Name)').item.json.fileName.split(\"/\").last().split(\".\").first()  || $json.fileName}}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1696,
        -112
      ],
      "id": "f40613ab-b3a3-436a-9302-980edd8b1937",
      "name": "Generate SRT"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Translate the following Chinese SRT to Vietnamese.\n- Output ONLY the translated SRT.\n- Keep all timestamps and indexes.\n- NEVER leave text in Chinese.\n\nSRT Content:\n{{ $json.text_chunk }}"
      },
      "id": "f9d4dffa-ed1c-4011-add9-0a718019a7c9",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        320,
        80
      ],
      "typeVersion": 1.5,
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "13c4058d-2d50-46b7-a5a6-c788828a1764",
              "name": "text",
              "type": "string",
              "value": "=There was an error."
            }
          ]
        },
        "options": {}
      },
      "id": "bef1dc13-1f16-4be2-8e9d-822317093424",
      "name": "Error Response",
      "type": "n8n-nodes-base.set",
      "position": [
        672,
        176
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.output_path || $json.fullPath }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -800,
        80
      ],
      "id": "9823a602-0aa3-4c40-b55a-a46ec40f8364",
      "name": "Read SRT file"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -576,
        80
      ],
      "id": "7093e87c-0dec-4613-ba5e-c96e443d8a45",
      "name": "Get SRT Content"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "final_srt_content",
        "options": {
          "encoding": "utf8",
          "fileName": "={{ \"/home/shared/srt/video_\" + $runIndex + \"_translated.srt\" }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        896,
        -32
      ],
      "id": "7b80da23-67f1-42a3-b6c8-27a2de77b325",
      "name": "Convert Translated SRT into File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/shared/srt/{{ $binary.data.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1120,
        -32
      ],
      "id": "0c751463-2b67-450e-a07e-f380e9012bed",
      "name": "Write Translated SRT File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://video_tools:9000/api/v1/dubbing",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ \"video_\" + $runIndex }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "video_name",
              "value": "={{ \"video_\" + $runIndex }}"
            },
            {
              "name": "srt_name"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1344,
        208
      ],
      "id": "2e363c21-b692-4b9d-bd61-23c604b1a877",
      "name": "Generate Dubbed Video"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c038a8d4-3dc6-43fe-bb6f-abce16989992",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -352,
        80
      ],
      "id": "0468159b-f521-47ca-90fb-93d2b92ad595",
      "name": "If SRT Content"
    },
    {
      "parameters": {
        "url": "=http://video_tools:9000/api/v1/tasks/{{ $json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1248,
        -128
      ],
      "id": "2f4c3fc9-d4f8-4600-acf0-e52a7d34d0ba",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -800,
        -128
      ],
      "id": "5326cef2-e189-4092-8a0b-1533a65ebe14",
      "name": "Wait",
      "webhookId": "21cd8d65-62e1-498b-8144-dad4c97ca44b"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "pending",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ec959c51-079d-4445-8f56-601470c61d49"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pending"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4179350c-bd41-4fb1-8eca-4675021038d0",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Processing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dc196c85-ee69-4995-aa72-995034d1c55f",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Completed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "38a2efab-7693-4104-99c1-a3aa83416a2b",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Failed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -1024,
        -240
      ],
      "id": "1d695ccf-fa27-44a3-848c-abd93804816b",
      "name": "Switch"
    },
    {
      "parameters": {
        "model": "qwen2.5:1.5b",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "bb42f382-8931-48ea-a80b-67b63c34b9b9",
      "name": "Ollama Model1",
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "position": [
        400,
        304
      ],
      "typeVersion": 1,
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "ollamaApi": {
          "id": "8p0sScEdXGlTXISN",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "url": "=http://video_tools:9000/api/v1/tasks/{{ $json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3936,
        688
      ],
      "id": "28468dd6-8a07-488d-8c2c-4137043d94bb",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -4160,
        768
      ],
      "id": "de5a0523-cff1-4ccf-9b21-4787081e621e",
      "name": "Wait1",
      "webhookId": "21cd8d65-62e1-498b-8144-dad4c97ca44b"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "pending",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ec959c51-079d-4445-8f56-601470c61d49"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pending"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4179350c-bd41-4fb1-8eca-4675021038d0",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Processing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dc196c85-ee69-4995-aa72-995034d1c55f",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Completed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "38a2efab-7693-4104-99c1-a3aa83416a2b",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Failed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -3712,
        736
      ],
      "id": "2b8948b5-0bea-4051-8c64-412784c716d8",
      "name": "Switch1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "05c2ec5d-5acd-4683-84b4-a433094e3424",
              "name": "task_id",
              "value": "={{ $json.task_id }}",
              "type": "string"
            },
            {
              "id": "97e1a4bb-b990-4c56-9628-0295bd4e0f42",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1472,
        -128
      ],
      "id": "c509b4e3-b84c-49a6-8419-339f816b5a86",
      "name": "Set ID of Create SRT task"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9e884f9c-11a4-4f17-a1e9-d41f2821023f",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2368,
        -32
      ],
      "id": "881a967e-6e4b-4df5-b5ae-8b61cfb60d8d",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst fullUrl = $input.first().json['data.urls'] || \"\"; \nconst pathOnly = fullUrl.split('?')[0];\nconst cleanPath = pathOnly.replace(/\\/$/, \"\");\nconst fileName = cleanPath.replace(/\\/$/, \"\").split(\"/\").pop();\nconst filePath = \"/home/shared/downloads/\"+ fileName +\".mp4\";\n\nconst exists = fs.existsSync(filePath);\n\nreturn [{\n  json: {\n    fileName: fileName,\n    exists: exists,\n    fullPath: filePath,\n    url: $input.first().json['data.urls']\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2592,
        -32
      ],
      "id": "49007122-eb64-482e-a899-e3b13894de1e",
      "name": "Check Video Exists"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst fileName = $('Check Video Exists').first().json.fileName.split(\".\")[0];\nconst filePath = \"/home/shared/srt/\"+ fileName +\".srt\";\n\nconst exists = fs.existsSync(filePath);\n\nreturn [{\n  json: {\n    fileName: fileName,\n    exists: exists,\n    fullPath: filePath\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -2144,
        144
      ],
      "id": "435c1804-5b1c-441d-be81-2c3e4ee90525",
      "name": "Check SRT Exists"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9e884f9c-11a4-4f17-a1e9-d41f2821023f",
              "leftValue": "={{ $json.exists }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1920,
        144
      ],
      "id": "c6b82ba1-9c80-4d67-bb57-16b8f32d5c6e",
      "name": "If1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Nếu dữ liệu là chuỗi base64 nằm trong json như prompt của bạn:\nconst base64String = $json.data; \n\n// Convert sang text utf-8\nconst decodedText = Buffer.from(base64String, 'base64').toString('utf-8');\n\nreturn {\n  json: {\n    clean_text: decodedText\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        80
      ],
      "id": "1b756e1d-2b28-4b2c-9fd4-f785d0b7531a",
      "name": "Decode Base64 into String"
    },
    {
      "parameters": {
        "jsCode": "// Cấu hình: Số lượng block subtitle trong 1 lần gửi cho AI\n// Với model 1.5b, nên để 20-30 block là an toàn nhất.\nconst CHUNK_SIZE = 10; \n\n// Lấy nội dung text từ node trước (sửa 'clean_text' thành tên biến thực tế của bạn)\nconst srtContent = $input.first().json.clean_text;\n\nif (!srtContent) {\n  throw new Error(\"Không tìm thấy nội dung file để cắt!\");\n}\n\n// 1. Tách các block SRT dựa trên 2 dòng trống (chuẩn SRT)\n// Regex này tìm các dòng trống giữa các block\nconst blocks = srtContent.split(/\\n\\s*\\n/);\n\n// 2. Gom các block lại thành từng Chunk\nconst chunks = [];\nfor (let i = 0; i < blocks.length; i += CHUNK_SIZE) {\n  // Lấy ra 30 block và nối lại\n  const chunkText = blocks.slice(i, i + CHUNK_SIZE).join('\\n\\n');\n  \n  // Chỉ đẩy vào nếu chunk có nội dung\n  if (chunkText.trim().length > 0) {\n    chunks.push({\n      json: {\n        text_chunk: chunkText,\n        chunk_index: i / CHUNK_SIZE + 1, // Đánh số thứ tự chunk để dễ theo dõi\n        total_chunks: Math.ceil(blocks.length / CHUNK_SIZE)\n      }\n    });\n  }\n}\n\n// n8n sẽ tự động chạy node tiếp theo (Ollama) cho TỪNG item trong mảng 'chunks' này\nreturn chunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        96,
        80
      ],
      "id": "901824b8-62ad-47e9-9dcb-906b904295cf",
      "name": "Chunking SRT Content"
    },
    {
      "parameters": {
        "jsCode": "// Lấy tất cả các kết quả từ node AI trước đó\n// Giả sử node AI trả về kết quả trong biến 'output' hoặc mặc định là 'text'\n// Bạn cần check output của node AI để sửa 'response' cho đúng key.\n\n// Sắp xếp lại theo thứ tự chunk_index (đề phòng n8n chạy không tuần tự)\nitems.sort((a, b) => a.json.chunk_index - b.json.chunk_index);\n\n// Gom toàn bộ văn bản đã dịch lại\nconst fullTranslatedSrt = items.map(item => {\n    // Nếu dùng Basic LLM Chain, kết quả thường ở 'text'\n    // Nếu dùng Ollama Chat, kết quả thường ở 'message.content' hoặc 'response'\n    // Hãy kiểm tra output node trước để thay thế dòng dưới đây:\n    return item.json.text || item.json.response || item.json.output; \n}).join('\\n\\n');\n\nreturn {\n  json: {\n    final_srt_content: fullTranslatedSrt,\n    file_name: \"vietnamese_subtitle.srt\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        -32
      ],
      "id": "0fe9b844-3f51-46e0-986f-0f6f383eeadc",
      "name": "Merge Chunk SRT into String"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Update Cookies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Cookie Update Success": {
      "main": [
        [
          {
            "node": "Get User Video URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Got Videos": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Check Video Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Save Video (Dynamic Name)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Cookies": {
      "main": [
        [
          {
            "node": "If Cookie Update Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Video URLs": {
      "main": [
        [
          {
            "node": "If Got Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Video (Dynamic Name)": {
      "main": [
        [
          {
            "node": "Generate SRT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate SRT": {
      "main": [
        [
          {
            "node": "Set ID of Create SRT task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge Chunk SRT into String",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read SRT file": {
      "main": [
        [
          {
            "node": "Get SRT Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SRT Content": {
      "main": [
        [
          {
            "node": "If SRT Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Translated SRT into File": {
      "main": [
        [
          {
            "node": "Write Translated SRT File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Translated SRT File": {
      "main": [
        [
          {
            "node": "Generate Dubbed Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Dubbed Video": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If SRT Content": {
      "main": [
        [
          {
            "node": "Decode Base64 into String",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Response": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read SRT file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set ID of Create SRT task": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check SRT Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Exists": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check SRT Exists": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Generate SRT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read SRT file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode Base64 into String": {
      "main": [
        [
          {
            "node": "Chunking SRT Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunking SRT Content": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Chunk SRT into String": {
      "main": [
        [
          {
            "node": "Convert Translated SRT into File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "a5b0d54c-456e-4b95-a855-5000d3dc2204",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d03e29d40ee8f6942890a57bfacec1a055bb8b3755ee9bf823d53216f83cc457"
  },
  "id": "Cr8J9oLWX0gFYphFTvLN4",
  "tags": []
}