n8n/workflow.json
{
  "name": "Douyin Crawler",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3712,
        1120
      ],
      "id": "da19cbf8-674b-4472-8d6d-d49513b9ed5a",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "84128e18-f53d-4a0e-99d5-99a604c749eb",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3264,
        1120
      ],
      "id": "86b4d332-907e-440b-a03c-f5cda60b0e04",
      "name": "If Cookie Update Success"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "07011532-d3ba-46c1-8c26-7217b3e1bf9e",
              "leftValue": "={{ $json.status }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -2816,
        1120
      ],
      "id": "0e654491-7f2e-4606-8c2b-563242a1bb25",
      "name": "If Got Videos"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.urls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2592,
        1120
      ],
      "id": "054b68a4-e169-4dd1-ae83-6ab53fc0cf1c",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2368,
        1120
      ],
      "id": "0a79fc01-2fe1-4e7e-a423-330bb0344edb",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{ $json.url }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1472,
        352
      ],
      "id": "645c4147-74ec-4cd6-b4ce-bd69d0413945",
      "name": "Download Video"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ \"/home/shared/downloads/\" + $binary.data.fileName + \".mp4\" }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -1248,
        352
      ],
      "id": "5c61d9e2-ac09-4a6d-a4ad-167d992ce2df",
      "name": "Save Video (Dynamic Name)",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "url": "http://api:8000/update_cookies",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3488,
        1120
      ],
      "id": "7cb72354-d38b-454a-b2fe-902b37d771eb",
      "name": "Update Cookies"
    },
    {
      "parameters": {
        "url": "http://api:8000/feed_user_videos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "userID",
              "value": "MS4wLjABAAAAObLqoivX9v17p8Mx6ehZ-8Jm2neeJg05i7gagKeCWtw"
            },
            {
              "name": "max_count",
              "value": "1"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3040,
        1120
      ],
      "id": "e7cbb035-076a-41c0-8b26-8e97555accdf",
      "name": "Get User Video URLs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://video_tools:9000/api/v1/subtitles",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "video_name",
              "value": "={{ $('Save Video (Dynamic Name)').item.json.fileName.split(\"/\").last().split(\".\").first()  || $json.fileName}}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1024,
        400
      ],
      "id": "385339f8-57ee-43d8-b2b5-1a45166fc67d",
      "name": "Generate SRT"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=- Keep all timestamps and indexes.\n- NEVER leave text in Chinese.\n- NEVER add not related text (chat, apologize, introduction)\nTranslate the following content Chinese to Vietnamese.\nContent:\n{{ $json.text_chunk }}"
      },
      "id": "ef206296-5c7b-411e-aedb-893b24a536f3",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        992,
        608
      ],
      "typeVersion": 1.5,
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "13c4058d-2d50-46b7-a5a6-c788828a1764",
              "name": "text",
              "type": "string",
              "value": "=There was an error."
            }
          ]
        },
        "options": {}
      },
      "id": "6bea7569-6fc2-4ab6-bd53-5b1cf30be6be",
      "name": "Error Response",
      "type": "n8n-nodes-base.set",
      "position": [
        1344,
        704
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.output_path || $json.fullPath }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -128,
        608
      ],
      "id": "66369783-0200-442d-977f-78cabd607d7c",
      "name": "Read SRT file"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        96,
        608
      ],
      "id": "9c4d8c55-29e5-4dbe-ae33-9306406126e1",
      "name": "Get SRT Content"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "final_srt_content",
        "options": {
          "encoding": "utf8",
          "fileName": "={{ \"/home/shared/srt/video_\" + $runIndex + \"_translated.srt\" }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        1568,
        512
      ],
      "id": "2cb62b2e-3976-4db4-bebd-e0c7aaec2a76",
      "name": "Convert Translated SRT into File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/shared/srt/{{ $binary.data.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1792,
        512
      ],
      "id": "89a528ac-bc7b-406f-a935-6a239cde8e5c",
      "name": "Write Translated SRT File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://video_tools:9000/api/v1/dubbing",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "video_name",
              "value": "={{ $('Set Filename').item.json.fileName }}"
            },
            {
              "name": "srt_name",
              "value": "={{ $('Set Filename').item.json.fileName }}_translated"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2016,
        896
      ],
      "id": "83aa7ea9-3c21-42b2-bed6-8d40d3be6639",
      "name": "Generate Dubbed Video"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c038a8d4-3dc6-43fe-bb6f-abce16989992",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        320,
        608
      ],
      "id": "9da372ec-162e-4c6a-9ad4-a8f6fd36b194",
      "name": "If SRT Content"
    },
    {
      "parameters": {
        "url": "=http://video_tools:9000/api/v1/tasks/{{ $json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -576,
        400
      ],
      "id": "fb0c657a-45f9-47e7-8350-458fd06ae17f",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        -128,
        400
      ],
      "id": "4ef27db1-24e8-49e2-b49a-5a26e72cdd8a",
      "name": "Wait",
      "webhookId": "21cd8d65-62e1-498b-8144-dad4c97ca44b"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "pending",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ec959c51-079d-4445-8f56-601470c61d49"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pending"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4179350c-bd41-4fb1-8eca-4675021038d0",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Processing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dc196c85-ee69-4995-aa72-995034d1c55f",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Completed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "38a2efab-7693-4104-99c1-a3aa83416a2b",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Failed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -352,
        288
      ],
      "id": "2baf75b3-e6d0-4782-b8f6-128e1ecef334",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "05c2ec5d-5acd-4683-84b4-a433094e3424",
              "name": "task_id",
              "value": "={{ $json.task_id }}",
              "type": "string"
            },
            {
              "id": "97e1a4bb-b990-4c56-9628-0295bd4e0f42",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -800,
        400
      ],
      "id": "7819d4a5-0b02-42f3-8d03-a25c2a21e0b1",
      "name": "Set ID of Create SRT task"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9e884f9c-11a4-4f17-a1e9-d41f2821023f",
              "leftValue": "={{ $json.exists }}",
              "rightValue": "=",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1696,
        640
      ],
      "id": "ab7974f3-17cb-486c-b2d4-b7a19bcd8e8d",
      "name": "If"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst fullUrl = $input.first().json.data.urls; \nconst fileName = $input.first().json.fileName;\nconst filePath = \"/home/shared/downloads/\"+ fileName +\".mp4\";\n\nconst exists = fs.existsSync(filePath);\n\nreturn [{\n  json: {\n    fileName: fileName,\n    exists: exists,\n    fullPath: filePath,\n    url: fullUrl\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1920,
        640
      ],
      "id": "4fd68f8f-642e-47ee-ad32-db4118834917",
      "name": "Check Video Exists"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst fileName = $('Check Video Exists').first().json.fileName.split(\".\")[0];\nconst filePath = \"/home/shared/srt/\"+ fileName +\".srt\";\n\nconst exists = fs.existsSync(filePath);\n\nreturn [{\n  json: {\n    fileName: fileName,\n    exists: exists,\n    fullPath: filePath\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1472,
        800
      ],
      "id": "769f4d77-115b-4ae6-bff1-8114ae6d8746",
      "name": "Check SRT Exists"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9e884f9c-11a4-4f17-a1e9-d41f2821023f",
              "leftValue": "={{ $json.exists }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1248,
        800
      ],
      "id": "1238cc9c-d6ad-49e5-b657-dbc354c166d2",
      "name": "If1"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Nếu dữ liệu là chuỗi base64 nằm trong json như prompt của bạn:\nconst base64String = $json.data; \n\n// Convert sang text utf-8\nconst decodedText = Buffer.from(base64String, 'base64').toString('utf-8');\n\nreturn {\n  json: {\n    clean_text: decodedText\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        544,
        608
      ],
      "id": "a135a329-fd0a-46d4-876e-31f030dcb465",
      "name": "Decode Base64 into String"
    },
    {
      "parameters": {
        "jsCode": "// Cấu hình: Số lượng block subtitle trong 1 lần gửi cho AI\n// Với model 1.5b, nên để 20-30 block là an toàn nhất.\nconst CHUNK_SIZE = 10; \n\n// Lấy nội dung text từ node trước (sửa 'clean_text' thành tên biến thực tế của bạn)\nconst srtContent = $input.first().json.clean_text;\n\nif (!srtContent) {\n  throw new Error(\"Không tìm thấy nội dung file để cắt!\");\n}\n\n// 1. Tách các block SRT dựa trên 2 dòng trống (chuẩn SRT)\n// Regex này tìm các dòng trống giữa các block\nconst blocks = srtContent.split(/\\n\\s*\\n/);\n\n// 2. Gom các block lại thành từng Chunk\nconst chunks = [];\nfor (let i = 0; i < blocks.length; i += CHUNK_SIZE) {\n  // Lấy ra 30 block và nối lại\n  const chunkText = blocks.slice(i, i + CHUNK_SIZE).join('\\n\\n');\n  \n  // Chỉ đẩy vào nếu chunk có nội dung\n  if (chunkText.trim().length > 0) {\n    chunks.push({\n      json: {\n        text_chunk: chunkText,\n        chunk_index: i / CHUNK_SIZE + 1, // Đánh số thứ tự chunk để dễ theo dõi\n        total_chunks: Math.ceil(blocks.length / CHUNK_SIZE)\n      }\n    });\n  }\n}\n\n// n8n sẽ tự động chạy node tiếp theo (Ollama) cho TỪNG item trong mảng 'chunks' này\nreturn chunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        768,
        608
      ],
      "id": "451adbab-5819-4f85-b986-af6fc2e0d6c0",
      "name": "Chunking SRT Content"
    },
    {
      "parameters": {
        "jsCode": "// Lấy tất cả các kết quả từ node AI trước đó\n// Giả sử node AI trả về kết quả trong biến 'output' hoặc mặc định là 'text'\n// Bạn cần check output của node AI để sửa 'response' cho đúng key.\n\n// Sắp xếp lại theo thứ tự chunk_index (đề phòng n8n chạy không tuần tự)\nitems.sort((a, b) => a.json.chunk_index - b.json.chunk_index);\n\n// Gom toàn bộ văn bản đã dịch lại\nconst fullTranslatedSrt = items.map(item => {\n    // Nếu dùng Basic LLM Chain, kết quả thường ở 'text'\n    // Nếu dùng Ollama Chat, kết quả thường ở 'message.content' hoặc 'response'\n    // Hãy kiểm tra output node trước để thay thế dòng dưới đây:\n    return item.json.text || item.json.response || item.json.output; \n}).join('\\n\\n');\n\nreturn {\n  json: {\n    final_srt_content: fullTranslatedSrt,\n    file_name: $('Set Filename').first().json.fileName +\"_subtitle.srt\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        512
      ],
      "id": "f4deaef9-6a9d-415f-8a0f-5997c4506e2b",
      "name": "Merge Chunk SRT into String"
    },
    {
      "parameters": {
        "model": "qwen2.5:1.5b",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "9434ad24-1297-40b4-b1a6-5eab2305a3d2",
      "name": "Ollama Model",
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "position": [
        1072,
        832
      ],
      "typeVersion": 1,
      "executeOnce": false,
      "alwaysOutputData": false,
      "credentials": {
        "ollamaApi": {
          "id": "8p0sScEdXGlTXISN",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9e884f9c-11a4-4f17-a1e9-d41f2821023f",
              "leftValue": "={{ $json.exists }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -352,
        848
      ],
      "id": "10113d0b-e1b0-49b9-b00a-701c4f1962e0",
      "name": "If2"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\nconst fileName = $('Check Video Exists').first().json.fileName.split(\".\")[0];\nconst filePath = \"/home/shared/srt/\"+ fileName +\"_translated.srt\";\n\nconst exists = fs.existsSync(filePath);\n\nreturn [{\n  json: {\n    fileName: fileName,\n    exists: exists,\n    fullPath: filePath\n  }\n}];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        848
      ],
      "id": "72955c53-9c0f-4123-8b82-71140f9db6df",
      "name": "Check Translated SRT"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "de3b90c0-ce42-40a5-aeb4-121bbaeca383",
              "name": "fileName",
              "value": "={{ $json['data.urls'].extractUrlPath().replace(/\\/$/, \"\").split(\"/\").last() }}",
              "type": "string"
            },
            {
              "id": "768492e2-7567-4527-967b-c7b25b1b2265",
              "name": "data.urls",
              "value": "={{ $json['data.urls'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -2144,
        640
      ],
      "id": "8865077a-a25e-4a26-937c-c9d68f21f0f1",
      "name": "Set Filename"
    },
    {
      "parameters": {
        "url": "=http://video_tools:9000/api/v1/tasks/{{ $json.task_id }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2288,
        720
      ],
      "id": "9322c2d1-fa62-4e21-a5ea-45469c1b6718",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "amount": 30
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2736,
        720
      ],
      "id": "0f7ca8c1-41c1-4c95-ac34-a199ccde0884",
      "name": "Wait1",
      "webhookId": "21cd8d65-62e1-498b-8144-dad4c97ca44b"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "pending",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "ec959c51-079d-4445-8f56-601470c61d49"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Pending"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "4179350c-bd41-4fb1-8eca-4675021038d0",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "processing",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Processing"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "dc196c85-ee69-4995-aa72-995034d1c55f",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "completed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Completed"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "38a2efab-7693-4104-99c1-a3aa83416a2b",
                    "leftValue": "={{ $json.status }}",
                    "rightValue": "failed",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Failed"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        2432,
        512
      ],
      "id": "3cb71892-103b-4f96-a703-62a096046f75",
      "name": "Switch1"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Update Cookies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Cookie Update Success": {
      "main": [
        [
          {
            "node": "Get User Video URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Got Videos": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Set Filename",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Save Video (Dynamic Name)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Cookies": {
      "main": [
        [
          {
            "node": "If Cookie Update Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Video URLs": {
      "main": [
        [
          {
            "node": "If Got Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Video (Dynamic Name)": {
      "main": [
        [
          {
            "node": "Generate SRT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate SRT": {
      "main": [
        [
          {
            "node": "Set ID of Create SRT task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Merge Chunk SRT into String",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read SRT file": {
      "main": [
        [
          {
            "node": "Get SRT Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SRT Content": {
      "main": [
        [
          {
            "node": "If SRT Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Translated SRT into File": {
      "main": [
        [
          {
            "node": "Write Translated SRT File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Translated SRT File": {
      "main": [
        [
          {
            "node": "Generate Dubbed Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Dubbed Video": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If SRT Content": {
      "main": [
        [
          {
            "node": "Decode Base64 into String",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Response": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read SRT file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set ID of Create SRT task": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check SRT Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Video Exists": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check SRT Exists": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Generate SRT",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Translated SRT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode Base64 into String": {
      "main": [
        [
          {
            "node": "Chunking SRT Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chunking SRT Content": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge Chunk SRT into String": {
      "main": [
        [
          {
            "node": "Convert Translated SRT into File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Check Translated SRT": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Read SRT file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Dubbed Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Filename": {
      "main": [
        [
          {
            "node": "Check Video Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6f83d321-3cce-4c04-8afe-5a55eb28f549",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d03e29d40ee8f6942890a57bfacec1a055bb8b3755ee9bf823d53216f83cc457"
  },
  "id": "Twl5hAEK_lftflskW-Cwh",
  "tags": []
}