n8n/workflow.json
{
  "name": "Douyin Crawler",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -3936,
        492
      ],
      "id": "7aa489ee-72f2-4e18-b00f-3a0ba0a3edfb",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "84128e18-f53d-4a0e-99d5-99a604c749eb",
              "leftValue": "={{ $json.status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3488,
        492
      ],
      "id": "cec30bd0-1c86-4da1-b34d-9d3bb0f924b2",
      "name": "If Cookie Update Success"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "07011532-d3ba-46c1-8c26-7217b3e1bf9e",
              "leftValue": "={{ $json.status }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -3040,
        492
      ],
      "id": "b4dcddba-37e6-4d65-9532-af285ebc5e8f",
      "name": "If Got Videos"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.urls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -2816,
        492
      ],
      "id": "b1c62a26-f496-4e38-ba52-b3bc05607c82",
      "name": "Split Out"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -2592,
        492
      ],
      "id": "991bb02c-ae22-4953-be6f-db50dd891a0d",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "url": "={{ $json[\"data.urls\"] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -2368,
        104
      ],
      "id": "6661756a-229b-4398-8598-349fca79fd45",
      "name": "Download Video"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "={{ \"/home/shared/downloads/video_\" + $runIndex + \".mp4\" }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -2144,
        104
      ],
      "id": "e07d8090-1aae-4f50-a3ae-b60dc845427a",
      "name": "Save Video (Dynamic Name)"
    },
    {
      "parameters": {
        "url": "http://api:8000/update_cookies",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3712,
        492
      ],
      "id": "a88b3794-41ca-4d43-beb3-0786db6da748",
      "name": "Update Cookies"
    },
    {
      "parameters": {
        "url": "http://api:8000/feed_user_videos",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "userID",
              "value": "MS4wLjABAAAAObLqoivX9v17p8Mx6ehZ-8Jm2neeJg05i7gagKeCWtw"
            },
            {
              "name": "max_count",
              "value": "1"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -3264,
        492
      ],
      "id": "a535824f-5361-44ef-8276-e3174721674d",
      "name": "Get User Video URLs"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://video_tools:9000/api/v1/subtitles",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "video_name",
              "value": "={{ $('Save Video (Dynamic Name)').item.json.fileName.split(\"/\").last().split(\".\").first() }}"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -1920,
        104
      ],
      "id": "0926abce-1556-4680-98f1-1a928590e09e",
      "name": "Generate SRT"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Just translate for me all the below content to Vietnamese. Return exact format of the content that I  provide for you (index, timestamp, translated content) and don't add anything not related (chat, answer, apology).\n{{ $json.text_chunk }}"
      },
      "id": "1d8fc725-ebef-4ef1-a46a-49706e909e7f",
      "name": "Basic LLM Chain",
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "position": [
        -128,
        104
      ],
      "typeVersion": 1.5,
      "alwaysOutputData": false,
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "model": "qwen2.5:1.5b",
        "options": {
          "temperature": 0.1
        }
      },
      "id": "47ee210f-dbf1-44f0-a3bb-19f72134a192",
      "name": "Ollama Model",
      "type": "@n8n/n8n-nodes-langchain.lmOllama",
      "position": [
        -56,
        328
      ],
      "typeVersion": 1,
      "executeOnce": false,
      "credentials": {
        "ollamaApi": {
          "id": "NhoZiomh8AigckqL",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "13c4058d-2d50-46b7-a5a6-c788828a1764",
              "name": "text",
              "type": "string",
              "value": "=There was an error."
            }
          ]
        },
        "options": {}
      },
      "id": "9a2bd64e-059c-4684-88f1-08a715675911",
      "name": "Error Response",
      "type": "n8n-nodes-base.set",
      "position": [
        224,
        200
      ],
      "typeVersion": 3.4
    },
    {
      "parameters": {
        "fileSelector": "=/home/shared/srt/{{ $json.srt_path.split(\"/\").last() }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        -1248,
        104
      ],
      "id": "7aafcca3-16de-4621-9a00-9144bca9bb90",
      "name": "Read SRT file"
    },
    {
      "parameters": {
        "operation": "binaryToPropery",
        "binaryPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1.1,
      "position": [
        -1024,
        104
      ],
      "id": "1c8a2915-a76f-4f09-ba94-832dc512da95",
      "name": "Get SRT Content"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "final_srt_content",
        "options": {
          "encoding": "utf8",
          "fileName": "={{ \"/home/shared/srt/video_\" + $runIndex + \"_translated.srt\" }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        448,
        8
      ],
      "id": "0255f4c0-179b-42d5-9812-fa06ff20817f",
      "name": "Convert Translated SRT into File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/home/shared/srt/{{ $binary.data.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        672,
        8
      ],
      "id": "1b9d3799-59af-43b9-b869-af530a3f413c",
      "name": "Write Translated SRT File"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://video_tools:9000/api/v1/dubbing",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "name",
              "value": "={{ \"video_\" + $runIndex }}"
            }
          ]
        },
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "video_name",
              "value": "={{ \"video_\" + $runIndex }}"
            },
            {
              "name": "srt_name"
            }
          ]
        },
        "options": {
          "redirect": {
            "redirect": {}
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        896,
        228
      ],
      "id": "8f7c3725-aa46-495c-b657-cd99141c6831",
      "name": "Generate Dubbed Video"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "5d0c5f0f-0d70-47e9-b19d-00ab0f25d544",
              "leftValue": "={{ $json.status }}",
              "rightValue": 200,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -1472,
        104
      ],
      "id": "6d581eb1-09ef-4257-8975-0adcedfa56fa",
      "name": "If SRT Success",
      "retryOnFail": false
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "c038a8d4-3dc6-43fe-bb6f-abce16989992",
              "leftValue": "={{ $json.data }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -800,
        104
      ],
      "id": "010f0250-e6fc-4031-96a5-037876b87759",
      "name": "If SRT Content"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "// Nếu dữ liệu là chuỗi base64 nằm trong json như prompt của bạn:\nconst base64String = $json.data; \n\n// Convert sang text utf-8\nconst decodedText = Buffer.from(base64String, 'base64').toString('utf-8');\n\nreturn {\n  json: {\n    clean_text: decodedText\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -576,
        104
      ],
      "id": "ef0a8d80-2b60-4bc8-9290-4ed94c14abb8",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "jsCode": "// Cấu hình: Số lượng block subtitle trong 1 lần gửi cho AI\n// Với model 1.5b, nên để 20-30 block là an toàn nhất.\nconst CHUNK_SIZE = 30; \n\n// Lấy nội dung text từ node trước (sửa 'clean_text' thành tên biến thực tế của bạn)\nconst srtContent = $input.first().json.clean_text;\n\nif (!srtContent) {\n  throw new Error(\"Không tìm thấy nội dung file để cắt!\");\n}\n\n// 1. Tách các block SRT dựa trên 2 dòng trống (chuẩn SRT)\n// Regex này tìm các dòng trống giữa các block\nconst blocks = srtContent.split(/\\n\\s*\\n/);\n\n// 2. Gom các block lại thành từng Chunk\nconst chunks = [];\nfor (let i = 0; i < blocks.length; i += CHUNK_SIZE) {\n  // Lấy ra 30 block và nối lại\n  const chunkText = blocks.slice(i, i + CHUNK_SIZE).join('\\n\\n');\n  \n  // Chỉ đẩy vào nếu chunk có nội dung\n  if (chunkText.trim().length > 0) {\n    chunks.push({\n      json: {\n        text_chunk: chunkText,\n        chunk_index: i / CHUNK_SIZE + 1, // Đánh số thứ tự chunk để dễ theo dõi\n        total_chunks: Math.ceil(blocks.length / CHUNK_SIZE)\n      }\n    });\n  }\n}\n\n// n8n sẽ tự động chạy node tiếp theo (Ollama) cho TỪNG item trong mảng 'chunks' này\nreturn chunks;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -352,
        104
      ],
      "id": "31a7e417-4242-4e58-969a-b88b4cbf8ef5",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// Lấy tất cả các kết quả từ node AI trước đó\n// Giả sử node AI trả về kết quả trong biến 'output' hoặc mặc định là 'text'\n// Bạn cần check output của node AI để sửa 'response' cho đúng key.\n\n// Sắp xếp lại theo thứ tự chunk_index (đề phòng n8n chạy không tuần tự)\nitems.sort((a, b) => a.json.chunk_index - b.json.chunk_index);\n\n// Gom toàn bộ văn bản đã dịch lại\nconst fullTranslatedSrt = items.map(item => {\n    // Nếu dùng Basic LLM Chain, kết quả thường ở 'text'\n    // Nếu dùng Ollama Chat, kết quả thường ở 'message.content' hoặc 'response'\n    // Hãy kiểm tra output node trước để thay thế dòng dưới đây:\n    return item.json.text || item.json.response || item.json.output; \n}).join('\\n\\n');\n\nreturn {\n  json: {\n    final_srt_content: fullTranslatedSrt,\n    file_name: \"vietnamese_subtitle.srt\"\n  }\n};"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        8
      ],
      "id": "70e211ca-d7bb-4888-8f14-1467abe71dbc",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "05c2ec5d-5acd-4683-84b4-a433094e3424",
              "name": "task_id",
              "value": "={{ $json.task_id }}",
              "type": "string"
            },
            {
              "id": "97e1a4bb-b990-4c56-9628-0295bd4e0f42",
              "name": "status",
              "value": "={{ $json.status }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -1696,
        104
      ],
      "id": "eeee7bd6-24e9-45fe-ae6e-ea66eaaec608",
      "name": "Edit Fields"
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Update Cookies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Cookie Update Success": {
      "main": [
        [
          {
            "node": "Get User Video URLs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Got Videos": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Download Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download Video": {
      "main": [
        [
          {
            "node": "Save Video (Dynamic Name)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Cookies": {
      "main": [
        [
          {
            "node": "If Cookie Update Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Video URLs": {
      "main": [
        [
          {
            "node": "If Got Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Video (Dynamic Name)": {
      "main": [
        [
          {
            "node": "Generate SRT",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate SRT": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Read SRT file": {
      "main": [
        [
          {
            "node": "Get SRT Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get SRT Content": {
      "main": [
        [
          {
            "node": "If SRT Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert Translated SRT into File": {
      "main": [
        [
          {
            "node": "Write Translated SRT File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Translated SRT File": {
      "main": [
        [
          {
            "node": "Generate Dubbed Video",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Dubbed Video": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If SRT Success": {
      "main": [
        [
          {
            "node": "Read SRT file",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If SRT Content": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Error Response": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Convert Translated SRT into File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "If SRT Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "6d733204-81b0-419f-94ca-9afc2b9cb48f",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "dcf067041417ed5690dc9a0557ef314e378710bc7ce8caa5eddf7f41211441d5"
  },
  "id": "VXI7btMTSOLcVhmqVHHhk",
  "tags": []
}